.nav {
    background-color: #403f3e;
    color: #fff;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    font-size: 16px;
    padding: 2rem 2rem;
}

a {
    text-decoration: none;
    color: #fff;
    
}

.nav > p {
    font-size: 30px;
    cursor: pointer;
}

.nav > p >span:last-child {
    color: orange;
}

nav {
    display: flex;
    gap: 2rem;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 1.2rem;
    
}

nav ul li:hover {
    text-decoration: underline;
}



nav > button {
    padding: 9px 17px;
    background-color: orange;
    color: #fff;
    font-size: 14px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    transition: 1s ease;


}

nav > button:hover {
    scale: 1.1;
    
}

.ham {
    display: none;
}


@media only screen and (max-width: 770px) {
    nav {
        display: none;
        position: relative;
    }

    .nav > p {
        font-size: 25px;
        cursor: pointer;
    }

    .nav {
        font-size: 14px;
        padding: 1.5rem 1.5rem ;
        
    }

    .ham {
        display: block;
    }

    .mobile-nav {
        display: flex;
        flex-direction: column;
        gap: 1.8rem;
        background-color: #403f3e;
        padding: 0.8rem 1.5rem;
        position: absolute;
        top: 3.9rem;
        left: 0;
        
        width: 100%;
        align-items: flex-start;
        
    }

    .mobile-nav > ul {
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
    }

    nav > button {
        padding: 6px 10px;
        background-color: orange;
        color: #fff;
        font-size: 14px;
        border-radius: 8px;
        transition: 1s ease;
       
    }
    
    nav > button:hover {
        scale: 1.1;
        
    }
}